@charset "UTF-8";

/*Typical Device Breakpoints
============================
PEQUENAS TELAS = ATÉ 600PX
CELULAR: DE 600PX ATÉ 768PX
TABLET: 768PX ATÉ 992PX
DESKTOP: 992PX ATÉ 1200PX   abaixo mudei pata 1600px, é que que da ao aumentar a tela

GRANDES TELAS: ACIMA DE 1200PX */

@media (min-width:600px) and (max-width: 1600px){
    i#burguer {
        display: none;
    }

    menu {

        display: block;
    }
    
}

menu > ul > li { /*PARA FICAR UM DO LADO DO OUTRO */
    display: inline-block;
}

